:root {
  --primary-color: #6e9195;
  --secondary-color: #2d4f61;
  --third-color: #496f74;
  --text-color: #333333;
  --background-color: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--third-color) 37%,
    var(--secondary-color) 83%
  );
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Inter", sans-serif;
}

.main {
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--third-color) 37%,
    var(--secondary-color) 83%
  );
}

body {
  background: linear-gradient(
    to bottom right,
    #6e9195,
    #496f74,
    #2d4f61
  ) !important;
}

.fade-in {
  animation: fadeIn 1.1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
