:root {
    --primary-color: #6e9195;
    --secondary-color: #2d4f61;
    --third-color: #496f74;
    --text-color: #333333;
    --background-color: linear-gradient( 135deg, var(--primary-color) 0%, var(--third-color) 37%, var(--secondary-color) 83%);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
    font-family: "Inter", sans-serif;
}

.main {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--third-color) 37%, var(--secondary-color) 83%);
}


/* body {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--third-color) 37%, var(--secondary-color) 83%);
} */

.fade-in {
    animation: fadeIn 1.1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scaling {
    animation: scaling 2s ease-in-out infinite;
}

@keyframes scaling {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.card-container {
    /* transform: scale(1); */
    transition: 0.3s all;
}

.card-container:hover {
    /* animation: scaling 2s ease-in-out; */
    transform: scale(1.1);
    transition: 0.3s all;
}

button {
    transition: 0.3s all;
}

button:hover {
    transform: scale(1.1);
}

.disable {
    opacity: 0.6;
    cursor: not-allowed;
}