@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6E9195;
    --secondary-color: #2D4F61;
    --third-color: #496F74;
    --text-color: #333333;
    --background-color: linear-gradient(135deg, var(--primary-color) 0%, var(--third-color) 37%, var(--secondary-color) 83%);
}

.toast {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.5s ease-out, opacity 0.5s ease;
}

.active {
    top: 2px;
    opacity: 1;
    transition: top 0.5s ease-in, opacity 0.5s ease;
}

.header {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--third-color) 37%, var(--secondary-color) 83%);
    color: white;
}